body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.title {    
    text-align: center;
    background-image: linear-gradient(135deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%);
    margin-top: 0;
    /* margin-bottom: 20px; */
    /* padding: 20px 0;     */
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.title-image {
    position: absolute;
    left: 20px;    
}

#criar-agenda > h2 {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}

.hidden {
    display: none;
}

/* Seções */
section {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Formulários e Inputs */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #4E7DD2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(75,63,197);
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table thead {
    background-color: #4E7DD2;
    color: #fff;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

/* Botões de Ação */
.btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}

/* 
.loading-overlay {
    position: relative;
}

.loading-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    z-index: 1;
    transition: all 0.3s ease;
}

.loading-overlay::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 6px solid rgb(75,63,197);
    border-top: 6px solid #3498db;
    border-radius: 50%;
    z-index: 2;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
} */